{% extends "usuarios/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Página de inicio</h1>

<p>{{ mensaje }}</p>

{% if user.is_authenticated %}
    {% if user.cliente %}
        <p>Eres un <strong>Cliente</strong></p>
        <a href="{% url 'crear-arquitecto' %}">Crear arquitecto</a>
    {% elif user.arquitecto %}
        <p>Eres un <strong>Arquitecto</strong></p>
    {% endif %}
{% else %}
    <p>Por favor, inicia sesión para continuar.</p>
{% endif %}
{% endblock %}